<!DOCTYPE html>
<html>
  <head>
    <title>Reddit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <h1>Reddit</h1>
      <nav>
        <ul>
          <li><%= link_to "Hot", root_path %></li>
          <li><%= link_to "Votes", votes_path %></li>
          </ul>
        </nav>
      </div>
    <%= yield %>

  </body>
</html>
